<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="myApp">
    <header>
    CUDO
    </header>
   

  
   
 Search: <input ng-model="searchText">
 <table id="searchTextResults">
   <ul ng-controller="myCtrl">
      
     <li ng-repeat="result in results | filter:{title.$t:searchText}">
         {{result.title.$t}}
     </li>
     
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
   
    </body>


</html>

<!--/*w workspace git add -A    <code>{{results | json }}</code>
git commit
ctrl shift X
Y
komentarz

enter*/
git push
login
haslo