<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body ng-app="myApp">
    <header>
    CUDO
    </header>
   

  
   
 Search: <input ng-model="searchText">
 <table id="searchTextResults">
  
      
  <header>
      <article ng-controller="myCtrl" ng-cloak>
 
 
 
  <form ng-submit="addItems(newItemText)">
      <input type="text" ng-model="newItemText" cb:inline/>
  </form>
     
     <ul>
         <li ng-repeat = "item in items"> {{item.text}} </li>
     
       <a ng-href-"item.text">{{item.text}} </a>
     
     </ul>
     <d>.</d>
    <div>
      <label>Name</label>
      
  
    </div>
    
<div ng-show="item.text" class="ng-hide">{{item.text}}</div>
<div ng-hide="item.text">{{item.text}}</div>
<div ng-init="item.text">{{item.text}}</div>
  
    
    
    
    


      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
      <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
      <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
    
    </body>


</html>

<!--/*w workspace git add -A    <code>{{results | json }}</code>
 <!--   <input ng:model="item.text" cb:inline></input>  
git commit

ctrl shift X
Y
komentarz

enter*/
git push
login
haslo